@font-face {
  font-family: 'Eczar';
  src: url('./fonts/Eczar-SemiBold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.header {
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;

  background: var(--white, #fff);
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 32px;
}

.grain {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;
  width: 48px;
  height: 48px;
  gap: 8px;
  flex-shrink: 0;

  background-repeat: no-repeat;
  background-image: url('Images/Grain.svg');
}

.coffeLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 80px;
  width: 176px;
  height: 44px;
  fill: var(--deep-blue, #023a6b);

  background-image: url('Images/Coffe.svg');
}

.cartLogo {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 32px;
}

.cart {
  width: 40px;
  height: 40px;
  margin-right: 16px;

  background-image: url('Images/ShoppingCart.png');
}

.cartText {
  display: flex;
  flex-direction: column;
  width: 84px;
  margin-right: 32px;

  color: var(--deep-blue, #023a6b);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .cartText {
    display: none;
  }
}

.body {
  position: fixed;
  display: flex;
  justify-content: flex-start;

  background: var(--light-cream, #fef2e8);
  height: 100vh;
  width: 100%;
}

.container1 {
  margin-left: 240px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 792px;
  height: 174px;

  margin-top: 64px;
}

.sloganTxt {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: var(--deep-blue, #023a6b);
  font-family: Eczar;
}

.pleasures {
  color: var(--orange, #f73);
  font-family: Eczar;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 768px) {
  .body {
    display: flex;
    justify-content: center;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    width: 327px;

    margin-left: 24px;
    margin-right: 24px;
    margin-top: 0px;
  }
  .sloganTxt {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
  .pleasures {
    color: var(--orange, #f73);
    font-family: Eczar;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
}
